.root{
    
}
.label{
    -fx-font-weight: bold;
    -fx-text-fill:#1A2E75;
    -fx-font-family: Serif;

}
.hyperlink{
    -fx-border-color: transparent;
}

.hyperlink:hover{
    -fx-underline: false;
}

.hyperlink:visited{
    -fx-underline: false;
}
.button{
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 8px;
    -fx-background-color: #1A2E75;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: #9C0C19;
    -fx-cursor: hand;
}
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}